[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bpp"]
	path = bpp
	url = https://github.com/cran/bpp
	shallow = true
	registered = true
[submodule "eventTrack"]
	path = eventTrack
	url = https://github.com/cran/eventTrack
	shallow = true
	registered = true
[submodule "logcondens"]
	path = logcondens
	url = https://github.com/cran/logcondens
	shallow = true
	registered = true
[submodule "logcondiscr"]
	path = logcondiscr
	url = https://github.com/cran/logcondiscr
	shallow = true
	registered = true
[submodule "modehunt"]
	path = modehunt
	url = https://github.com/cran/modehunt
	shallow = true
	registered = true
[submodule "OrdFacReg"]
	path = OrdFacReg
	url = https://github.com/cran/OrdFacReg
	shallow = true
	registered = true
[submodule "OrdMonReg"]
	path = OrdMonReg
	url = https://github.com/cran/OrdMonReg
	shallow = true
	registered = true
[submodule "reporttools"]
	path = reporttools
	url = https://github.com/cran/reporttools
	shallow = true
	registered = true
[submodule "selectMeta"]
	path = selectMeta
	url = https://github.com/cran/selectMeta
	shallow = true
	registered = true
[submodule "smoothtail"]
	path = smoothtail
	url = https://github.com/cran/smoothtail
	shallow = true
	registered = true
