[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OrdFacReg"]
	path = OrdFacReg
	url = https://github.com/cran/OrdFacReg
[submodule "OrdMonReg"]
	path = OrdMonReg
	url = https://github.com/cran/OrdMonReg
[submodule "bpp"]
	path = bpp
	url = https://github.com/cran/bpp
[submodule "eventTrack"]
	path = eventTrack
	url = https://github.com/cran/eventTrack
[submodule "logcondens"]
	path = logcondens
	url = https://github.com/cran/logcondens
[submodule "logcondiscr"]
	path = logcondiscr
	url = https://github.com/cran/logcondiscr
[submodule "modehunt"]
	path = modehunt
	url = https://github.com/cran/modehunt
[submodule "reporttools"]
	path = reporttools
	url = https://github.com/cran/reporttools
[submodule "selectMeta"]
	path = selectMeta
	url = https://github.com/cran/selectMeta
[submodule "smoothtail"]
	path = smoothtail
	url = https://github.com/cran/smoothtail
